<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5level [%t] %c{1.}.%M(%L): %msg%n"/>
        </Console>
    </appenders>
    <loggers>
        <Logger name="cn.woodwhales.webhook" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </Logger>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>
